/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

@import 'mixins/mixin';
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);
// @import url(https://fonts.googleapis.com/css?family=Lora);
@include font-face("Century Gothic", "../fonts/CenturyGothic", normal, normal);
@include font-face("Century Gothic Bold", "../fonts/CenturyGothic-Bold", bold, normal);
@include font-face("ArialMT", "../fonts/ArialMT", normal, normal);


 // Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/form';
@import 'core/grid';
@import 'lib/jquery-ui';
@import 'lib/modal';


// Elements color ==========================================================
// Example for button 
// --------------------------
// for html - btn__primary, btn__success etc...
// --------------------------
// for scss 
// .btn{
// 	@each $status, $color in $el_bg_colors {
// 		&__#{$status} {
// 			background: $color;
// 		}
// 	}
// }


// End @mixin and variables


// Main wrappers =====================================

.wrapper {
	font-size: $main_font_size;
	font-family: "Century Gothic";
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;
    margin: 0 auto (-$footer_height) auto; // отрицательный нижний отступ на высоту футера
    @media (max-width: 767px) {
    	font-size: 14px;
    }
}

.container_center {
	max-width: $container_width;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}

.column {
	@include columns(4, 20px, 300px);
}

// Social link
.soc {
	float: left;
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #000;
		text-align: center;
		text-decoration: none;
		@include trs(0.3s);
		&:hover {
			opacity: .8;
		}
		&:before {
			content: 'soc';
			color: #fff;
			text-decoration: none;
		}
	}
}

.copy {
	float: right;
}

a {
	color: $link;
}

/* Header
 ----------------------------------------------------------------------------- */
.header {
	padding-top: 24px;
	padding-bottom: 63px;
	@extend %clear_a;
	&__action {
		float: right;
		padding-top: 48px;
		&_tel {
			margin-right: 20px;
			font-size: 28px;
			color: $green;
			text-decoration: none;
			vertical-align: middle;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.btn {
		text-transform: uppercase;
		vertical-align: middle;
		// font-family: $font-bold;
	}
	@media (max-width: 767px) {
		padding-top: 10px;
		padding-bottom: 30px;
		&__action {
			padding-top: 10px;
			float: none;
			&_tel {
				margin-left: 20px;
			}
		}
	}
}

.logo {
	float: left;
	color: $green;
	font-family: $font-bold;
	text-decoration: none;
	font-size: 24px;
	max-width: 200px;
	text-align: left;
	@media (max-width: 767px) {
		max-width: none;
		float: none;
		text-align: center;
		br {
			display: none;
		}
	}
}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.section {
	&__title {
		// color: $main_color;
		margin: 0;
		padding: 0;
		font-size: 30px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		position: relative;
		margin-bottom: 15px;
		&:before {
			content: '';
			display: block;
			top: 17px;
			left: 0;
			width: 100%;
			position: absolute;
			border-bottom: 1px solid;
		}
		span {
			max-width: 660px;
			background-color: #fff;
			display: inline-block;
			position: relative;
			padding: 0 15px;
			font-family: $font-bold;
		}
	}
	&__sub {
		// color: $main_color;
		display: block;
		max-width: 670px;
		margin: auto;
		padding: 0 15px;
		text-align: center;
		margin-bottom: 15px;
		&--success {
			font-size: 24px;
			color: $yellow;
			font-family: $font-bold;
		}
	}
	@media (max-width: 767px) {
		&__title {
			font-size: 24px;
			&:before {
				content: '';
				position: relative;
				top: 0;
				margin-bottom: 15px;
				opacity: .5;
			}
		}
		&__sub {

		}
	}
}

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
	padding-bottom: $footer_height;
	@extend %clear_a;
}


.first__screen {
	background: url('../img/first2.jpg') no-repeat top center;
	background-size: cover;
	padding-bottom: 79px;
	&_title {
		color: $green;
		font-size: 85px;
		font-family: $font-bold;
		margin: 0 0 30px;
	}
	&_percent {
		font-size: 120px;
		display: inline-block;
	}
	&_sub {
		font-size: 32px;
		color: $white;
		text-shadow: 0 0 2px transparentize(#000, .5);
		max-width: 207px;
		display: inline-block;
		// float: left;
	}
	&_bottom {
		@extend %clear_a;
	}
	&_check {
		display: inline-block;
		margin-right: 26px;
		background: url('../img/check.png') no-repeat left center;
		// background-size: contain;
		font-family: $font-bold;
		font-size: 19px;
		color: $white;
		text-shadow: 0 0 5px transparentize(#000, .5);
		padding-left: 61px;
	}
	@media (max-width: 767px) {
		text-align: center;
		padding-bottom: 30px;
		&_title {
			font-size: 40px;
		}
		&_percent {
			font-size: 100px;
		}
		&_check {
			text-align: left;
			max-width: 300px;
			width: 100%;
			margin-bottom: 15px;
			margin-right: 0;
			font-size: 16px;
		}
	}
}


.download__line {
	text-align: center;
	padding: 20px 15px 50px;
	.btn {
		vertical-align: middle;
		font-size: 18px;
		padding: 16px 20px;
		margin-right: 17px;
		min-width: 250px;
	}
	.download__link {
		font-size: 18px;
		&:after {
			content: url(../img/download.png);
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
		}
		&:hover {
			text-decoration: none;
		}
	}
}

.ekonom {
	.grid {
		margin-top: 60px;
		margin-bottom: 15px;
		&__wrapper {}
		&__item {}
	}
	&__step {
		background-color: $green;
		color: #fff;
		font-size: 48px;
		line-height: 84px;
		padding: 0 34px;
		margin-bottom: 90px;
		position: relative;
		margin-right: 30px;
		font-family: $font-bold;
		&:before {
			content: '';
			border: 42px solid transparent;
			border-left: 30px solid $green;
			position: absolute;
			right: -72px;
		}
		&:after {
			content: url(../img/count.png);
			position: absolute;
			left: 0;
			bottom: -45px;			
		}
	}
	&__name {
		font-size: 20px;
		font-family: $font-bold;
		margin-bottom: 15px;
		min-height: 96px;
	}
	@media (max-width: 991px) {
		.grid {
			&__wrapper {
				margin-bottom: 30px;
			}
			&__item {}
		}
		&__step {
			margin-bottom: 40px;
		}
		&__name {
			min-height: 48px;
		}
	}
	@media (max-width: 767px) {
		.grid {
			&__wrapper {
				// width: 100%;
				text-align: center;
			}
			&__item {}
		}
		&__step {
			width: 166px;
			display: inline-block;
			margin-bottom: 25px;
		}
		&__name {
			min-height: auto;
		}
	}
}

.calculate {
	background-color: #e2e6e9;
	padding-top: 25px;
	padding-bottom: 15px;
	.section__title {
		span {
			background-color: #e2e6e9;
		}
	}
	&__wrap {
		padding-top: 60px;
		@extend %clear_a;
	}
	&__form {
		float: left;
		margin-right: 22px;
		width: 65%;
		&_row {
			@extend %clear_a;
			margin-bottom: 15px;
		}
	}
	&__slider {
		&_wrap {
			padding-left: 6px;
			padding-right: 9px;
		}
	}
	&__step {
		display: table;
		width: 100%;
		margin-top: 20px;
		font-size: 14px;
		&_item {
			display: inline;
			display: table-cell;
			// text-align: center;
			// &:first-child {
			// 	text-align: left;
			// }
			// &:last-child {
			// 	text-align: right;
			// }
			&:last-child {
				width: 65px;
			}
		}
	}
	&__data {
		overflow: hidden;
		&_box {
			background-color: $green;
			color: $white;
			padding: 14px 17px;
			font-size: 42px;
			line-height: 1;
			margin-bottom: 8px;
		}
		&_name {
			margin-bottom: 5px;
			font-size: 14px;
		}
		&_number {
			display: inline-block;
			font-family: "ArialMT";
		}
	}
	.form {
		&__label {
			float: left;
			margin: 15px 10px 15px 0;
			width: 140px;
		}
		&__field {
			width: 100%;
		}
		&__control {
			overflow: hidden;
			padding-bottom: 6px;
			&_slider {}
		}
	    &__select {
	        position: relative;
	        &:after {
				content: '';
				position: absolute;
				color: $main-color;
				top: 50%;
				right: 13px;
				margin-top: -3px;
				border: 6px solid transparent;
				border-top-color: $main-color;
	           
	       }   
	        select {
	            border-radius: 0;
	            outline: 0;
	            height: 44px;
	            -webkit-appearance: none;
	            line-height: 1;
	            /* for FF */
	            -moz-appearance: none;
	            text-indent: 0.01px; 
	            text-overflow: '';
	            /* for IE */
	            -ms-appearance: none;
	            appearance: none!important;
				color: $main-color;
	            border: 1px solid $input_border_color;
	            background-color: $input_bg_color;
	            padding: 0 22px 0 10px;
	            cursor: pointer;
	            font-size: 16px;
	            &::-ms-expand {
	              display: none;
	            }
	            &:focus {
					border: 1px solid $input_focus_border_color;
					background-color: $input_focus_bg_color;
	            }
	        }

	    }
	}
	.grid {
		margin-left: -8px;
		&__wrapper {
			margin-bottom: 8px;
			padding-left: 8px;
			&:first-child {
				width: 60%;
			}
			&:last-child {
				width: 40%;
			}
			.calculate {
				&__data {
					&_box {
						font-size: 22px;
					}
					&_name {
					}
					&_number {
					}
				}
			}
		}
	}
	@media (max-width: 991px) {
		&__data {
			&_box {
				font-size: 30px;
			}
			&_number {
				font-size: 30px;
			}
		}
		.grid {
			&__wrapper {
				&:first-child {
					width: 100%;
					margin-bottom: 0;
				}
				&:last-child {
					width: 140px;
				}
				.calculate {
					&__data {
						&_box {
							font-size: 30px;
						}
						&_name {
						}
						&_number {
						}
					}
				}
			}
		}
	}
	@media (max-width: 767px) {
		padding-top: 0;
		&__form {
			width: 100%;
			float: none;
		}
		&__wrap {
			padding-top: 0;
		}
		.form {
			&__label {
				width: 100%;
				float: none;
				margin-bottom: 5px;
			}
			&__control {
				width: 100%;
			}
		}
		&__step {
			display: none;
		}
		&__data {
			width: 100%;
			max-width: 400px;
			text-align: center;
			margin: auto;
			&_box {
				display: inline-block;
				width: 100%;
				float: none;
			}
		}
		.grid {
			&__wrapper {
				width: 100% !important;
			}
		}
	}
}

.services {
	padding-top: 37px;
	.container_center {}
	.section__title {}
	&__title {
		background-color: $green;
		color: $white;
		line-height: 60px;
		height: 62px;
		text-align: center;
		margin-right: 15px;
		float: left;
		width: 166px;
		position: relative;
		&_num {
			font-size: 38px;
		}
		&:after {
			content: url(../img/count.png);
			position: absolute;
			left: 0;
			bottom: -43px;			
		}
	}
	&__text {
		overflow: hidden;
		padding: 7px 0;
	}
	.grid {
		margin-top: 68px;
		&__wrapper {
			margin-bottom: 60px;
		}
		&__item {
			font-size: 20px;
			font-family: $font-bold;
			@extend %clear_a;
		}
	}
	@media (max-width: 991px) {
		&__title {
			width: 138px;
		}
	}
	@media (max-width: 767px) {
		padding-top: 0;
		text-align: center;
		&__title {
			width: 138px;
			float: none;
			display: inline-block;
			margin-bottom: 20px;
		}
		.grid {
			margin-top: 34px;
			&__wrapper {
				margin-bottom: 20px;
			}
		}
	}
}

.choose__bank {
	padding-top: 30px;
	padding-bottom: 60px;
	.grid {
		margin-top: 47px;
		margin-bottom: 36px;
		&__wrapper {
			margin-bottom: 32px;
			&:nth-child(3n+2) {
				border-left: 1px solid #adadad;
			}
			&:nth-child(3n+3) {
				border-left: 1px solid #adadad;
			}
		}
	}
	&_action {
		text-align: center;
		.btn {
			padding: 16px 20px;
			font-size: 18px;
		}
	}
	@media (max-width: 991px) {
		.grid {
			&__wrapper {
				border-left: 0 !important;
			}
		}
	}
	@media (max-width: 767px) {
		padding-top: 0;
		padding-bottom: 30px;
		.grid {
			&__wrapper {
				text-align: center;
				border-left: 0 !important;
				margin-bottom: 20px;
				img {
					width: 200px;
				}
			}
		}
	}
}

.cachback {
	padding-top: 60px;
	padding-bottom: 100px;
	background: url('../img/cachback.jpg') no-repeat center center;
	background-size: cover;
	text-align: center;
	font-family: $font-bold;
	color: $white;
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: transparentize(#000, .7);
		z-index: 0;
	}
	&__title {
		position: relative;
		font-size: 59px;
		margin-top: 0;
		margin-bottom: 21px;
	}
	&__summ {
		position: relative;
		color: $yellow;
		font-size: 145px;
		margin-bottom: 33px;
	}
	&__text {
		position: relative;
		font-size: 30px;
	}
	@media (max-width: 767px) {
		padding-top: 30px;
		padding-bottom: 30px;
		&__title {
			font-size: 40px;
			margin-bottom: 20px;
		}
		&__summ {
			font-size: 60px;
			margin-bottom: 33px;
		}
		&__text {
			font-size: 24px;
		}
	}
}

.program {
	padding-top: 30px;
	&__ico {
		padding-right: 15px;
		width: 75px;
	}
	&__text {
		font-size: 20px;
		font-family: $font-bold;
	}
	.grid {
		text-align: left;
		margin: 35px 0;
		&__wrapper {
			display: inline-table !important;
			// margin-bottom: 30px;
			&>div {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
	@media (max-width: 767px) {
		padding-top: 0;
		.grid {
			margin-bottom: 0;
			&__wrapper {
				padding-left: 0;
			}
		}
	}
}

.info {
	&__title {
		background: url('../img/info.png') no-repeat left top;
		padding-left: 91px;
		font-size: 20px;
		font-family: $font-bold;
		margin-bottom: 27px;
		min-height: 81px;
	}
	&__list {
		padding-left: 65px;
		&_item {
			padding-left: 27px;
			position: relative;
			margin-bottom: 10px;
			&:before {
				content: '';
				position: absolute;
				top: 5px;
				left: 0;
				width: 9px;
				height: 9px;
				border-radius: 9px;
				display: block;
				background-color: $green;
			}
		}
	}
	.grid {
		margin-top: 65px;
		margin-bottom: 30px;
		&__wrapper {

		}
	}
	@media (max-width: 767px) {
		&__title {
			font-size: 17px;
			padding-left: 75px;
			background-size: 60px;
			min-height: 65px;
		}
		&__list {
			padding-left: 30px;
		}
	}
}

.general {
	padding-top: 114px;
	padding-bottom: 40px;
	color: $white;
	font-size: 48px;
	font-family: $font-bold;
	background: url('../img/general.jpg') no-repeat center center;
	background-size: cover;
	@extend %clear_a;
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: transparentize(#000, .7);
		z-index: 0;
	}
	&__left {
		float: left;
		width: 50%;
		padding-top: 30px;
		text-align: right;
		margin-right: 37px;
		position: relative;
		&_top {
			text-transform: uppercase;
			font-size: 50px;
		}
		&_day {
			color: $green;
		}
		&_bottom {
			color: $yellow;
			font-size: 31px;
			margin-bottom: 40px;
		}
	}
	&__percent {
		width: 200px;
		height: 200px;
		line-height: 200px;
		border-radius: 50%;
		background-color: $green;
		overflow: hidden;
		font-size: 100px;
		padding-left: 12px;
		// text-align: center;
		letter-spacing: -0.16em;
		position: relative;
	}
	.download__line {
		clear: both;
		position: relative;
	}
	@media (max-width: 767px) {
		padding-top: 25px;
		padding-bottom: 20px;
		text-align: center;
		&__left {
			float: none;
			width: 100%;
			text-align: center;
		}
		&__percent {
			display: inline-block;
			text-align: left;
			font-size: 100px;
			width: 190px;
			height: 190px;
			line-height: 190px;
		}
	}
}

.contact {
	padding-top: 30px;
	a[href*="tel"] {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.section__title {
		margin-bottom: 32px;
	}
	.section__sub {
		margin-bottom: 32px;
	}
	@media (max-width: 767px) {
		padding-top: 0;
	}
}
.map {
	min-height: 340px;
}

/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	position: relative;
	height: $footer_height;
	background: $yellow;
	@extend %clear_all;
	.container_center {
	}
}

.modal {
	.form {
		&__row {
			@extend %clear_a;
			+.form__row {
				margin-top: 18px;
			}
		}
		&__label {
			float: left;
			width: 193px;
			margin-top: 11px;
		}
		&__control {
			overflow: hidden;
		}
		&__field {
			width: 100%;
		}
		.btn {
			height: 44px;
			min-width: 200px;
		}
	}
	@media (max-width: 767px) {
		.form {
			&__label {
				float: none;
				margin-top: 0;
				margin-bottom: 5px;
			}
			&__control {

			}
		}
	}
}

/* Responsive styles
----------------------------------------------------------------------------- */
// max-width: 1200px ===========================================================
@media (max-width: $breakpoint-xlarge) {
}

// max-width: 960px ===========================================================
@media (max-width: $breakpoint-large) {
	
}

// max-width: 760px ===========================================================
@media (max-width: $breakpoint-medium) {
	
}

// max-width: 480px ===========================================================
@media (max-width: $breakpoint-small) {
	
}


